.app__video {
    height: 50vh;
    position: relative;
    padding: 6rem 0rem 1rem 0rem;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__video video {
    width: 95%;
    height: 95%;
    object-fit: cover;

}

.app__video-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}

.app__video-overlay_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--color-golden);
    cursor: pointer;
}